.form-card {
  background-color: var(--color-background);
  border-radius: 24px;
  transition: all 0.3s ease;
}

.form-card:hover {
  transform: translateY(-5px) scale(1.02); 
  box-shadow: 0 10px 20px var(--color-primary) 
}

.icon-color{
   color: var(--color-primary);
}

.form-control {
  border: 2px solid var(--color-primary) !important;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: var(--color-primary) !important;
  box-shadow: 0 0 15px rgba(223, 47, 128, 0.4), 0 0 30px rgba(223, 47, 128, 0.2) !important;
  outline: none !important;
  transform: scale(1.01);
}

.react-select__control {
  border: 2px solid var(--color-primary) !important;
  transition: all 0.3s ease;
}

.react-select__control--is-focused {
  border-color: var(--color-primary) !important;
  box-shadow: 0 0 15px rgba(223, 47, 128, 0.4), 0 0 30px rgba(223, 47, 128, 0.2) !important;
  transform: scale(1.01);
}

/* Çoklu seçimde etiket (seçilen hizmet balonları) */
.react-select__multi-value {
  background-color: var(--color-primary) !important;
}

.react-select__multi-value__label {
  color: var(--color-white) !important;
}

.react-select__multi-value__remove {
  color: var(--color-white) !important;
}

.react-select__multi-value__remove:hover {
  background-color: var(--color-secondary) !important;
  color: var(--color-white) !important;
}

/* Açılır menü */
.react-select__menu {
  border-radius: 8px !important;
  z-index: 100 !important;
}

.react-select__option--is-selected {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}

.btn-custom-primary{
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    transition: all 0.3s ease;
}

.btn-custom-primary:hover {
  background: linear-gradient(45deg, #DF2F80, #ff4fa0, #DF2F80);
  background-size: 200% 200%;
  animation: shine 1s ease forwards;
  color: var(--color-white);
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.btn-success {
  border: none;
  transition: all 0.3s ease;
}

.btn-success:hover {
 background: linear-gradient(45deg, #198754, #27b46a, #198754);
  background-size: 200% 200%;
  animation: shine 1s ease forwards;
  color: var(--color-white);
}

.map-container {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.map-container:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}