
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 120px;
  height: 70px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  margin-left: -20px;

}

.logo-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.logo-subtitle {
  font-size: 14px;
  color: #7a7979;
  margin: 0;
}
.nav-menu-wrapper {
  flex: 1; 
  display: flex;
  justify-content:end
}

/* Menü öğeleri */
.nav-menu {
  display: flex;
  gap: 25px;
}

@media (max-width: 991px) {
  .nav-menu {
    display: flex !important;
    flex-direction: column;
    gap: 15px;
    
  }

  .nav-item {
    width: 100%;
    text-align: left;
  }
}

.nav-item {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
  font-weight:bold;
  
}

.nav-item:hover {
  background-color: #FFECF6;
  color: #DF2F80;
}

.nav-item.active {
  background-color: #FFECF6; /* açık pembe */
  color: #DF2F80; /* primary */
}

.wp-button {
  position: fixed;
  top: 20%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;            
  height: 180px;        
  color: white;
  text-decoration: none;
  border-radius: 10px 0 0 10px;
  z-index: 9999;
  transition: all 0.3s ease;
  text-align: center;
}

.wp-button:hover {
  background-color: var(--color-wp);
  transform: scale(1.05);
}

.wp-text {
  writing-mode: vertical-lr; 
  transform: rotate(180deg); 
  font-size: 13px;           
  font-weight: 700;          
  margin-top: 5px;
}

.wp-icon {
  transform: rotate(270deg);
  margin-top: 5px;
}
