.home-page {
  background-color: var(--color-background);
  width: 100%;
  
}

.text-color {
  color: var(--color-primary);
}

.d-flex > .btn-custom {
  flex: 1;           
  text-align: center;
}


.btn-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 2px solid;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 18px 24px;
  font-size: 16px;
}

.btn-primary-custom {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

.btn-primary-custom:hover {
  background-color: var(--color-primary);
  border-color: var(--color-white);
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 4px 12px rgba(223, 47, 128, 0.3);
}

.btn-primary-custom:active {
  transform: translateY(0) scale(1); 
}

.btn-secondary-custom {
  background-color: var(--color-white);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-secondary-custom:hover {
  background-color: var(--color-white);
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 4px 12px rgba(223, 47, 128, 0.2);
}

.btn-secondary-custom:active {
  transform: translateY(0) scale(1); 
}

.btn-custom i {
  transition: transform 0.3s ease;
}

.btn-custom:hover i {
  transform: scale(1.1);
}


.text-color{
    color: var(--color-primary);
}

.logo {
  transition: transform 0.3s ease; /* animasyon süresi ve yumuşaklığı */
}

.logo:hover {
  transform: scale(1.1); /* %20 büyüt */
}

.logo-style {
  margin-top: -20px;
}

@media (min-width: 992px) {
  .logo-style {
    margin-top: -80px;
  }
}