html, body {
  /* margin: 0;
  padding: 0; */
  font-family: 'Inter', sans-serif;
}

:root {
  --color-primary: #DF2F80;
  --color-background: #FFECF6;
  --color-second: #FFF8FC;
  --color-wp: #27b46a;
  --color-white: #ffffff;
  --color-black: #000000;
}